@using Microsoft.Extensions.Configuration
@inject IConfiguration _conf
<!DOCTYPE html>
<html lang="en" data-theme="dark" class="preload" >
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @_conf["WebsiteName"]</title>
    
    @if (_conf["production"] == "false")
    {
        <link rel="stylesheet" href="/static/styles.css?t=@DateTime.Now.ToBinary()"/>
    }
    else
    {
        <link rel="stylesheet" href="/static/styles.min.css"/>
        
    }
    
</head>
<body>
@RenderBody()
@await RenderSectionAsync("Scripts", required: false)


@if (_conf["production"] == "false")
{
    <script src="/static/scripts.js?t=@DateTime.Now.ToBinary()"></script>
}
else
{
    <script src="/static/scripts.min.js"></script>
}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap" rel="stylesheet">

</body>
</html>